* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}
body {
    font-family:  monospace;
}
.wrapper {
    width: 800px;
    margin-top: 30px;
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid silver;
    box-shadow: 2px 2px 20px silver;
}
h1, h2 {
    margin-bottom: 20px;
}
p, em {
    font-size: 18px;
    margin-bottom: 20px;
}
a {
    font-size: 18;
    text-decoration: none;
}
a:hover {
    color: brown;
}
button {
    padding: 5px;
    width: 250px;
}
.inp {
    padding: 5px;
    width: 250px;
}
.conteiner-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.conteiner-input {
    display: flex;
    justify-content: center;
}
.conteiner-out-2 {
    margin-top: 20px;
}