* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}
body {
    font-family:  monospace;
}
.wrapper {
    width: 800px;
    margin-top: 30px;
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid silver;
    box-shadow: 2px 2px 20px silver;
}
h1, h2 {
    margin-bottom: 20px;
}
p, em {
    font-size: 18px;
    margin-bottom: 20px;
}
a {
    font-size: 18;
    text-decoration: none;
}
a:hover {
    color: brown;
}
button {
    padding: 5px;
    width: 250px;
}
.inp {
    padding: 5px;
    width: 250px;
}
.conteiner-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.conteiner-input {
    display: flex;
    justify-content: center;
}
.conteiner-out-2 {
    margin-top: 20px;
}


/* МЕДИА ЗАПРОСЫ */

@media screen and (max-width: 1020px) {
	.wrapper {
		max-width: 800px;
		margin: 0 auto;
	}
    header {
        margin-top: 20px;
    }
	
}
@media screen and (max-width: 960px) {
	.wrapper {
		max-width: 750px;
		margin: 0 auto;
	}
    header {
        margin-top: 20px;
    }
	
}
@media screen and (max-width: 820px) {
	.wrapper {
		max-width: 700px;
		margin: 0 auto;
        display: flex;
        flex-direction: column;
	}
    header {
        margin-top: 20px;
    }
	
}
@media screen and (max-width: 700px) {
	.wrapper {
        display: flex;
        flex-direction: column;
		max-width: 500px;
		margin: 0 auto;
	}
    header {
        margin-top: 20px;
    }
    button {
        padding: 5px;
        width: 200px;
        margin-bottom: 20px;
    }
    .inp {
        padding: 5px;
        width: 200px;
    }
    .conteiner-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .conteiner-input {
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    .conteiner-out-2 {
        margin-top: 20px;
    }
	
}
@media screen and (max-width: 510px) {
	.wrapper {
        display: flex;
        flex-direction: column;
		max-width: 320px;
		margin: 0 auto;
	}
    header {
        margin-top: 20px;
    }
    button {
        padding: 5px;
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
    }
    .inp {
        padding: 5px;
        width: 200px;
        height: 50px;
    }
    .conteiner-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .conteiner-input {
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    .conteiner-out-2 {
        margin-top: 20px;
    }
	
}